<div class="foo">
  <div class="container">
    <div class="menu">
      <span class="avss">AVSS</span> 
      <span class="avss-menu">Início</span>
       Funcionalidades Sobre nós Cadastre-se
       <button class="btn">Entrar</button>
       <button class="btn">Retomar edição</button>
       <button class="btn btn--green">Avaliação</button>
    </div>
    <%= render "logo" %>
  </div>
</div>

<div class="avss-section">
  <h1 class="avss-section__title">Funcionalidades</h1>
</div>

<div class="avss-footer">
  <span class="avss-footer__title">Todos os direitos reservados @ 2021</span>
</div>
